@tailwind base;
@tailwind components;
@tailwind utilities;




/* removed to use tailwind */
/* 
.header {
  display: flex;
  justify-content:space-between;
  margin: 10px;
  border: 0.5px solid black;


}

.logo {
width: 150px;
height: 100px;

}

.nav-items > ul {
  padding: 2px;
  display:flex;
  list-style-type: none;
  /* color: red;
  font-size: large;
}

.nav-items > ul >li {
    padding: 10px;
}

.card {

  width: 250px;
  border: 1px solid brown;
  padding: 10px;
  margin: 10px;
  
}

.card > img {
   width: 100%;
}

.resturant-list {
  
  display: flex;
  flex-wrap: wrap;

}

.Shimmer-card {

  width: 272.67px;
  height: 576px;
  color: rgb(29, 18, 18);
  border: 5px;
  background-color: rgb(240, 225, 225);
  margin: 20px;
} */